*{
    margin: 0;
    padding: 0;
}
.clearfix::after{
 content: "";
 clear: both;
 display: block;
}

.center{
    text-align: center;
}
.left{
    text-align: left;
}
.right{
    text-align: right;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
img{
    max-width: 100%;
}
.med-content{
    max-width: 1200px;
    margin: auto;
}
a{
    text-decoration: none;
}
body,h1,h2,h3,h4,h5,h6,p,a,samp{
    font-family: 'Work Sans', sans-serif;
}
/* mani css */
.header {
	background: #ffffff;
	padding: 0px 15px !important;
	display: inline;
}

.header-logo {
	width: 25%;
}
.header-logo img {
	float: left;
	width: 60px;
	margin-right: 10px;
}
.header-menu {
	width: 60%;
	text-align: center;
}
.header-botem {
	width: 15%;
	box-sizing: border-box;
	text-align: right;
}
.header-botem a {
	border: 2px solid #6278df;
	padding: 12px 22px;
	margin-top: 9px;
	display: inline-block;
	border-radius: 9px;
	color: #6278df;
	font-weight: bold;
}
.header-logo samp {
	margin-top: 14px;
	line-height: 54px;
	font-size: 26px;
	color: black;
}
.header-menu ul{}
.header-menu ul li{
    display: inline-block;
}
.header-menu ul li a {
	display: inline-block;
	margin-top: 0px;
	padding: 0px 28px;
	font-size: 16px;
	color: #000;
	line-height: 54px;
}
/* benner part */
.banner{
    background-image: url("https://i.ibb.co/YdcswsP/mbr-4.jpg");
    padding: 230px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
	position: relative;
	z-index: 9;
}
.banner::after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .4);
	z-index: -1;
}

.banner h3 {
	color: #ffff;
	font-size: 25px;
}
.banner h2 {
	color: #ffff;
	font-size: 66px;
	padding: 43px;
}
.banner-botem {
	background: #fcfcfc;
	color: #7d7d7d;
	padding: 32px 53px;
	font-weight: bold;
	border-radius: 6px;
}
.banner-botem:hover{
    background-color: #6278df;
    color: #ffffff;
}
/* banner-2 */
.banner-2 {
	box-sizing: border-box;
	padding-top: 99px;
}
.video-ban {
	width: 46%;
	margin-left: 15px;
	padding: 0px;
	font-size: 57px;
}
.ban-tex {
	width: 45%;
	margin-right: 12px;
}
.ban-tex h1 {
	font-size: 2.8rem;
}
.ban-tex p {
	font-size: 1.2rem;
	line-height: 1.5;
	margin-top: 49px;
}
.services .section-title h1{
    margin-bottom: 20px;
    font-size: 46px;
    margin-top: 50px;
}
.services .section-title p{
    color: #767676;
    font-size: 27px;
    margin-bottom: 37px;
}
.services .services-box{
	width: 30.3%;
	 box-shadow: 0px 6px 20px 0px rgba(0, 0, 0,.1);
	 margin-right: 10px;
	box-sizing: border-box;
	padding: 20px;
 }
 .services .services-icons{
    float: left;
    height: 100px;
    font-size: 20px;
    margin-right: 2%;
}
.services .services-context p{

    font-size: 20px;
}



.prizing-data{
    background: #f7f9ff;
padding: 20px 0px;
margin-top: 32px;
}
.prizing-heading{}
.prizing-heading h2{
    font-weight: 500;
    font-size: 31px;
    margin-bottom: 20px;
}
.prizing-heading p{
    font-weight: 300;
}


.prizing-box{
    margin-top: 20px;
}
.prizing-box1{
    width: 31%;
    margin-right: 2%;
    box-shadow: 3px 4px 30px 0 rgba(64,87,191,0.1);
}
.prizing-table{
    
    padding-top: 30px ;
    padding-left: 10px;
    border-bottom: 1px solid #ddd;
}
.prizing-table span{
    
    font-size: 15px;
 }
.prizing-table:hover{
    background: #6278df;
    color: white;
  
}

.prizing-box1 .prizing-table h4{
    font-weight: 500;
    
}
.prizing-box1 .prizing-table h1{
    padding: 10px 0px;
    margin: 20px 0px;
    font-weight: 600;
}
.prizing-box1 .prizing-table h5{
    font-weight: 600;
    padding-bottom: 10px;
    font-size: 20px;
}
.prizing-box1 .prizing-table p{
    font-weight: 400;
    padding-bottom: 20px;
    line-height: 30px;
    font-size: 22px;
}
.prizing-content{
    
    padding-top: 30px;
}
.prizing-box1:hover .prizing-btn{
    background: #6278df;
    color: white;
}
.prizing-box1:hover .prizing-table{
    background: #6278df;
    color: white;
}
.prizing-box1 .prizing-content p{}
.prizing-box1 .prizing-content ul{
    list-style: none;
}
.prizing-box1 .prizing-content ul li{
    padding: 10px;
    margin: 20px 0px;
    font-size: 25px;
}
.prizing-box1 .prizing-content ul li span{
    color: #6278df;
    margin-left: 8px;
    margin-right: 5px;
}
.prizing-button{
    text-align: center;
    padding-bottom:30px ;
}
.prizing-btn{
   display: inline-block;
    box-shadow: 3px 4px 30px 0 rgba(64,87,191,0.4);
    padding:10px ;
    color: #6278df;
    font-weight: 600;
    font-size: 17px;
    border-radius: 5px;
}
.prizing-btn:hover{
   background: black !important;
   color: white i !important;
}
